@page "/riderdetails"
@page "/riderdetails/{id}"

@if(string.IsNullOrEmpty(Id))
{
    <PageTitle>Add New Rider</PageTitle>
    <h1>Add New Rider</h1>
}
else
{
    <PageTitle>Manage Rider</PageTitle>
    <h1>Manage Rider</h1>
}