@page "/riders"

<PageTitle>Riders</PageTitle>

<h1>Welcome to the Riders Section</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
            Racing Number 
          </th>
          <th>
                Team
            </th>
            <th>
                Manage
            </th>
        </tr>
    </thead>

        <tbody>

        @foreach (var item in _riders)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.RacingNb</td>
                <td>@item.Team</td>
                <td></td>
            </tr>
        }

        </tbody>

</table>